LED_Slider
[{"id":"b2848cd6.ca5c7","type":"ui_slider","z":"5b90197.2d300e8","tab":"5969fd52.22b424","name":"Slider","topic":"","group":"Control LED","order":"2","min":"0","max":"100","x":190,"y":100,"wires":[["1cca457a.60fb5b","732721f2.32913","3c7de1d6.58b99e","869c189f.bbbd18"]]},{"id":"1cca457a.60fb5b","type":"ui_gauge","z":"5b90197.2d300e8","tab":"5969fd52.22b424","name":"Gauge","group":"Control LED","order":"3","format":"{{value}}","min":0,"max":"100","x":603,"y":188,"wires":[]},{"id":"732721f2.32913","type":"ui_chart","z":"5b90197.2d300e8","tab":"5969fd52.22b424","name":"","group":"Control LED","order":"4","interpolate":"linear","nodata":"No Data","removeOlder":1,"removeOlderUnit":"86400","x":603,"y":294,"wires":[[],[]]},{"id":"3c7de1d6.58b99e","type":"rpi-gpio out","z":"5b90197.2d300e8","name":"LED","pin":"40","set":"","level":"0","out":"pwm","x":606,"y":110,"wires":[]},{"id":"828cc789.3d3b08","type":"function","z":"5b90197.2d300e8","name":"Function","func":"if(msg.payload == \"true\"){\n    msg.payload = 1;\n}\nelse{\n    msg.payload = 0;\n}    \nreturn msg;","outputs":"1","noerr":0,"x":440,"y":380,"wires":[["b2848cd6.ca5c7"]]},{"id":"58638633.9de238","type":"ui_switch","z":"5b90197.2d300e8","tab":"5969fd52.22b424","name":"Switch","topic":"","group":"Control LED","order":1,"onvalue":"true","offvalue":"false","x":173,"y":377,"wires":[["828cc789.3d3b08"]]},{"id":"869c189f.bbbd18","type":"function","z":"5b90197.2d300e8","name":"SetSwitch","func":"if(msg.payload > 0)\n    msg.payload = 1;\nelse \n    msg.payload = 0;\n    \nreturn msg;\n","outputs":1,"noerr":0,"x":182,"y":250,"wires":[["58638633.9de238"]]},{"id":"5969fd52.22b424","type":"ui_tab","z":"","name":"TEST1","icon":"dashboard","order":"1"}]
