LED_Numeric
[{"id":"dd551adf.2fe0f8","type":"ui_gauge","z":"b67778e7.a759d","tab":"2d0a4f99.f9d8d","name":"Gauge","group":"Control LED","order":"3","format":"{{value}}","min":0,"max":10,"x":608,"y":174,"wires":[]},{"id":"be819a9b.ae963","type":"ui_chart","z":"b67778e7.a759d","tab":"2d0a4f99.f9d8d","name":"","group":"Control LED","order":"4","interpolate":"linear","nodata":"No Data","removeOlder":1,"removeOlderUnit":"86400","x":608,"y":280,"wires":[[],[]]},{"id":"52684657.75a9c","type":"rpi-gpio out","z":"b67778e7.a759d","name":"LED","pin":"40","set":"","level":"0","out":"pwm","x":611,"y":96,"wires":[]},{"id":"e75e7b00.a26d18","type":"function","z":"b67778e7.a759d","name":"Function","func":"if(msg.payload == \"true\"){\n    msg.payload = 1;\n}\nelse{\n    msg.payload = 0;\n}    \nreturn msg;","outputs":"1","noerr":0,"x":413,"y":361,"wires":[["7f0ad75a.80d03"]]},{"id":"c823bdb1.f8a78","type":"ui_switch","z":"b67778e7.a759d","tab":"2d0a4f99.f9d8d","name":"Switch","topic":"","group":"Control LED","order":"2","onvalue":"true","offvalue":"false","x":178,"y":363,"wires":[["e75e7b00.a26d18"]]},{"id":"60c06bb3.05f524","type":"function","z":"b67778e7.a759d","name":"SetSwitch","func":"if(msg.payload > 0)\n    msg.payload = 1;\nelse \n    msg.payload = 0;\n    \nreturn msg;\n","outputs":1,"noerr":0,"x":191,"y":264,"wires":[["c823bdb1.f8a78"]]},{"id":"7f0ad75a.80d03","type":"ui_numeric","z":"b67778e7.a759d","tab":"2d0a4f99.f9d8d","name":"Numeric","topic":"","group":"Control LED","order":1,"format":"{{value}}","min":0,"max":10,"x":186,"y":92,"wires":[["52684657.75a9c","dd551adf.2fe0f8","be819a9b.ae963","60c06bb3.05f524"]]},{"id":"2d0a4f99.f9d8d","type":"ui_tab","z":"","name":"TEST2","icon":"dashboard","order":"1"}]
